{% extends 'base.html' %}

{% block title %}Meals + calories{% endblock %}

{% block body %}
    <canvas id="myChart"></canvas>

    <script>
        // Dohvaćanje podataka grafikona iz varijable chart_data
        var data = {{ chart_data | tojson }};

        // Stvaranje grafikona s dobivenim podacima
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Meal Calories',
                    data: data.data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
